[2020-06-10 14:35] mgobat opened #1 "Provide a setting in the app that allows the app to start un-paused"
I notice that the app is paused when it starts up. This can be disruptive for staff to remember to toggle each time the workstation is rebooted. For future development I would love to see a setting in the app that allows the app start un-paused. If this was done we could then run the app as a Windows service, which would be great.

From Paul Butler, Ball State University

[2020-07-02 14:45] mgobat opened #2 "Application doesn't respect default settings for printer; always prints portrait"
It appears that the application always prints in portrait.  Printing to the "Microsoft Print to PDF" printer with "Printing Preferences -> Orientation" set to landscape still prints in portrait.

[2020-08-05 12:35] betullam opened #5 "Ability to run as a service"
**Our Goal:** We would like to run the Alma Print Daemon as a service on a server that manages our printers. It is a Windows Server 2016. We already tried installation and printing - that worked great.

**The Problem:** After logging off from the server the Alma Print Daemon is closed. Thus printing is not possible anymore. Due to our security policy every staff member that logs on to the server a

[2020-08-19 18:03] mgobat commented on #1
Added an option to start the application with printing started automatically. Version 1.1.0 of the application.

While currently only available for Windows, the application will not run as a Windows service.

[2020-08-19 18:03] #1 closed

[2020-08-27 19:40] evilsizorm opened #8 "Enable 1 Alma Print Daemon to Serve Multiple Printers"
I am thankful that the Alma Printouts Queue and Print Daemon exists. The free email service bundled with our printers has proven to be unreliable at times.

However it is unfortunate that 1 PC can only run 1 instance of the Print Daemon software. So to map multiple Alma printers to multiple local printers requires running the Daemon on multiple servers (we use VMs rather than end user PCs).

The e

[2020-08-27 20:55] evilsizorm opened #9 "Alma Print daemon simple log file"
It would be a very nice enhancement if a log file could be created.  This would help us track down an Alma Printouts Queue that is marked as printed, but we are uncertain if it reached our printer or not.

Perhaps 7 rolling simple text files that note the date, time, Alma Printouts Queue Source and Printout column values.  On the eighth day it would clear file 1 and start logging to it again.

Tha

[2020-08-31 13:07] Reedyn opened #10 "Add option to reverse order of printout queue"
When the Printout Queue is loaded from Alma the application prints the latest first and the oldest last.

We would like this to reverse so that it works as a proper queue, first in first out.

[2020-08-31 15:35] evilsizorm opened #11 "Prevent multiple instances from running for a single user"
We are working on setting up some automation so that after patching reboots, the Alma Print Daemon restarts automatically.  While testing this we ended up with multiple instances of the Daemon running at the same time, which either resulted in multiple printouts of each print job, or it resulted in print queue entries being marked as printed, but no paper coming out.

Please add a detection abilit

[2020-09-18 16:10] mgobat opened #12 "Print Daemon stopped working - error message: "Communication Error" - No response from Alma: ..."
Reported by Universität für Musik und Darstellende Kunst in Wien

The Print Daemon should be active during our closing hours to print the requests which are sent in that time. Unfortunately, when we come to the office on the Monday mornings, the Print Daemon has stopped working and shows an error message (here attached). It seems 2 closing days are too much for the cooperation between Windows and

[2020-09-28 12:06] mgobat commented on #12
Customer reported that the problem appears resolved in version 1.2.0-beta.

[2020-09-28 12:06] #12 closed

[2020-09-28 12:08] mgobat opened #13 "Don't require installation per user, per workstation"
It seems, at the moment the Print Daemon has to get installed separately for every user of the PC. It would be much nicer if there were an option to make just one installation (maybe configuring would still be necessary for each user, but even that would be better than, in our case, four single installations)"

[2020-09-30 12:20] mgobat opened #14 "Filter Printing by Location"
Can it also made it possible to add an extra filter to this daemon to select only those requests with a certain location?
In fact, this can be a search for a string in the body of the mail.

"Why?
The building for our book storage has 3 levels (I1, I2 and I3) and every level has its own printer for the print request.
By making the print daemon to do the selection, you can fine-tune printouts.
At t

[2020-09-30 13:03] mgobat commented on #2
Customer reported that the problem appears resolved in version 1.2.0-beta.

[2020-09-30 13:03] #2 closed

[2020-10-05 13:42] evilsizorm opened #15 "Javascript error: TypeError: Cannot read property '0' of undefined"
This morning the Alma print daemon had crashed with the following message

A JavaScript error occurred in the main process

Uncaught Exception:
TypeError: Cannot read property '0' of undefined
at Function.<anonymous>
(C:\Users\Pages\AppData\Local\Programs\alma-print-daemon\resources\app.asar\mai...:47)

[2020-10-05 14:07] mgobat commented on #15
Hi Mark...
Did this error occur at startup, or had the app been running a while before the error appeared?
Thanks...

[2020-10-05 14:59] mgobat commented on #15
Mark...
There may be issues when Alma goes down for maintenance, the internet connection fails, etc.  Could you try the [1.2.0-beta](https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v.1.2.0-beta) version if you haven't yet?

[2020-10-07 21:36] evilsizorm commented on #15
Thanks for making me aware of this version, we will install it next week.

Mark

[2020-11-05 07:36] Waynelam opened #17 "Support for grayscale printing"
Currently the print function support only color printing. It would be better for this to be configurable. It should be able to be done via  mainWindow.webContents.print

Details:
https://www.electronjs.org/docs/api/web-contents#contentsprintoptions-callback

[2020-11-05 13:47] mgobat commented on #15
This defect should be repaired in version 1.2.0.

[2020-11-05 13:47] #15 closed

[2020-11-18 16:58] dregad commented on #13
We came to the same conclusion.  Having a single installation per machine with a user-specific configuration is a much-needed improvement to this.

[2020-12-01 13:33] daniels commented on #10
We are currently evaluating the print daemon and this is one of the few obstacles we're facing. When handling more than a few items, the current behaviour is really confusing. As new printouts keep being added to the stack while some previous have been printed and some has not, eventually the papers are seemingly in a random order and must be manually resorted with care to match up with the correc

[2020-12-06 23:55] davjak opened #18 "Interval in minutes - adjust to seconds"
We would like to use the print daemon however with the interval set to minutes there is a possible 60 second delay and a wait for staff to process hold slips. with the option changed to seconds we could set it to a much quicker check and therefore print suiting our needs

[2020-12-07 14:13] evilsizorm opened #19 "When left running 24x7, sometimes A JavaScript error is found on Monday and requires clearing to print"
This morning a dialog box showed indicating, "A JavaScript error occurred in the main process".  I have attached an image.  Even thought it looks like the daemon is running.  Our staff reported that printing did not resume until the error was cleared.

TypeError: Cannot read property '0' of undefined at Function.<anonymous>

Mark
![AlmaPrintDaemonJavaScriptError](https://user-images.githubusercont

[2020-12-07 16:05] mgobat commented on #18
You should be able to use a decimal value (ie: .25) for the "Interval in minutes", though I'm not sure how well it will perform under heavy load.  Please try it, if you like, and report back here.

[2020-12-07 16:07] mgobat commented on #19
Hmmm....I wonder if this was due to the new Alma release over the weekend....and there's a place in the APD code  that still poses a problem.

[2020-12-08 00:36] davjak commented on #18
Thanks @mgobat
I will pass this onto our team and see how we go

[2020-12-14 17:39] mgobat commented on #8
Let me confirm what you are asking for here:
Given a list of available Alma printers that are print queues:

1. Allow selection of an Alma printer.
2. Allow selection of a local/network printer to service the selected Alma printer.
3. Set any preferences for that local printer (portrait/landscape, color/greyscale).
4. Save the Alma/local printer pair as a printer profile.
5. Route printouts from a

[2020-12-16 09:02] fabian-combox commented on #13
This is highly recommended!

[2021-01-06 17:05] evilsizorm commented on #8
Mark this looks very good.  A couple of thoughts/confirmations

- If implemented as depicted, this one Daemon would be able to fetch and print for each of the profiles configured, correct?
- In the Printer Profiles section I see the ability to Add and Remove, which will work great, if edit could be an option that would be nice
- In the Select Alma Printers image, it looks like it would be possible

[2021-01-06 17:43] mgobat commented on #8
Thanks for the feedback, Mark!

1. Yes, one installation of the Daemon would fetch printouts from the Alma Printer specified in each Printer Profile and print to the Printer Profile's physical local/network printer.
2. Yes, "edit" would be nice.  Maybe in the subsequent release.
3. Yes, that is how it works in the current version, too.  You can select as many Alma Printer Queues as you like to be

[2021-01-11 17:46] evilsizorm commented on #19
This morning we experienced a similar occurrence. Perhaps there was server side maintenance this weekend as well.

Mark
![Alma Printer Daemon Error 2021 01 11](https://user-images.githubusercontent.com/5598657/104218609-987e1680-5402-11eb-8a82-d5bd8ae151d4.jpg)

[2021-01-12 15:23] mgobat commented on #19
Yes, there was a new release over the weekend.  I'll look into it again.  Thanks.

[2021-01-12 15:25] mgobat commented on #18
David, has the decimal value helped with this problem?  Thanks...

[2021-01-13 00:27] davjak commented on #18
Hi mgobat
Unfortunately this has been put on the back burner by our IT department until such a time where they can invest more time to fully test and implement so I'm unable to report back at this time if it worked using decimal value

[2021-01-13 09:15] fabian-combox commented on #13
What is the status on this? Have you already done anything?

[2021-01-13 09:15] fabian-combox commented on #5
What is the status on this? Have you already done anything?

[2021-01-13 12:37] mgobat commented on #13
There will be a pre-release version of the Alma Print Daemon with this feature coming soon.

[2021-01-13 12:39] mgobat commented on #5
We are still investigating running the Alma Print Daemon as a Windows Service.

[2021-01-13 19:07] mgobat commented on #8
This enhancement, among others, is contained in the Alma Print Daemon 1.3.0-beta release.
https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v1.3.0-beta

[2021-01-13 19:07] mgobat commented on #17
This enhancement, among others, is contained in the Alma Print Daemon 1.3.0-beta release.
https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v1.3.0-beta

[2021-01-13 19:08] mgobat commented on #13
This enhancement, among others, is contained in the Alma Print Daemon 1.3.0-beta release.
https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v1.3.0-beta

[2021-01-20 20:35] mgobat commented on #19
Mark...is there anything in the log file from around the time this last happened?  The file would be located in the username/AppData/Roaming/alma-print-daemon directory.  Considering the screenshot you included, I'm going to guess no.
Thanks.  -m

[2021-02-01 13:43] mgobat opened #22 "Filter which letter types should be printed"
From 31UKB_UAM1_INST:

For one location we do not want the transit letter to be printed. Using Outlook, this letter can be filtered and deleted, but the daemon has not such an option. So would it be possible to add a filter (f.i. check box) to this daemon to select the letter type that should be printed?

[2021-02-02 17:37] mgobat commented on #18
The readme was updated to reflect that decimal values are possible in the interval field.

[2021-02-02 17:37] #18 closed

[2021-02-09 14:50] prbutler opened #23 "Duplicate print outs on occasion."
I've received a report from one circ location that on occasion a circ receipt or transit slip will print out twice, creating a duplicate copy. This has happened to different staff at the same location. The printouts queue in Alma only shows one instance of the print job, so I am thinking it is caused by some aspect of the daemon. We have a pretty standard daemon setup, though we do have "Interval

[2021-02-09 15:03] mgobat commented on #23
This may be a result of the quick time interval you have set; not sure until I take a look at the code.  I'm guessing that with the quick time interval, the daemon may not have had a chance to mark all documents from one batch as "printed" before requesting the next batch.

I'll flag this as a defect, but keep it lower priority for now.  Thanks for reporting!

[2021-02-15 19:17] prbutler commented on #23
We had another round of duplicate prints on 2021-02-15. We have several circ desks setup using the daemon, but again it happened at only the one desk. Though this happens to be our busiest circ desk. Only single instances of the jobs appear in the printout queue. Different user than the other times this has happened. To confirm, can the "Interval in minutes" field handle .75? Any other suggestions

[2021-02-24 08:07] Reedyn commented on #10
They are not random at all. It's just that each batch is in reverse order, but the batches themselves are in order.

For example here's how a print situation can be (numbers in the order they were printed, the order is how they come out)

[code]

The stack itself looks like this: ` 4  3  2  1  8  7  6  5`

If we instead reverse the order we get:

[code]

And the stack: `1  2  3  4  5  6  7  8`

[2021-03-08 14:23] evilsizorm commented on #19
This morning when we arrived the Printer Daemon was in an error state with different error messages than previously.  See attached.

![Print Daemon Error 2021 03 08](https://user-images.githubusercontent.com/5598657/110333702-87f3b200-7fe7-11eb-8284-93640f265dc2.jpg)

[2021-03-09 13:01] mgobat commented on #8
Hi Mark....

Have the multiple printer profiles in 1.3.0-beta been working well for you? Thanks....

-mark

[2021-03-09 14:05] evilsizorm commented on #8
Thanks for following up, yes the new feature is working well for us.

Mark

[2021-03-30 09:24] betullam commented on #5
Any news on this?

[2021-03-30 12:05] mgobat commented on #5
Coming very soon as a beta release on Windows.  It will require [nssm](https://nssm.cc/).

[2021-03-30 12:14] betullam commented on #5
Great news, thank you!

[2021-03-30 13:00] mgobat commented on #5
Please note that general release of 1.3 will come first.

[2021-03-30 13:25] mgobat commented on #17
Included in version 1.3.

[2021-03-30 13:25] #17 closed

[2021-03-30 13:26] mgobat commented on #13
Included in release 1.3.

[2021-03-30 13:26] #13 closed

[2021-03-30 13:27] #8 closed

[2021-04-05 13:16] evilsizorm commented on #19
This morning a javascript error was showing in a dialog box.  Once we okayed it, printing resumed.
![Alma Print Daemon 2021 04 05](https://user-images.githubusercontent.com/5598657/113577653-34c14f00-95e7-11eb-93e5-73a9046c8026.jpg)

[2021-04-05 18:03] mgobat commented on #19
That's progress...we got a line number in the error this time.  :)
Any errors logged in your log.alma-print-daemon.* this time?

[2021-04-05 20:27] mgobat commented on #5
Alma Print Daemon 2.0-beta is available with this new feature.

https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.0.0-beta

[2021-04-06 19:08] evilsizorm commented on #19
Mark there was an error message:

Error on 2021-04-04T02:17:52.204Z':  503 Service Unavailable - General error with the API Gateway – please retry later.

[2021-05-03 22:33] evilsizorm commented on #19
After the weekend update we received a similar error this morning.
![Alma Printer Daemon 2021 05 03](https://user-images.githubusercontent.com/5598657/116941640-b41d5f00-ac35-11eb-8d12-8096a1881be8.png)

[2021-05-10 09:32] DanielaDoerr opened #27 "Print Daemon 2.0-beta issues"
We installed PrintDaemon 2.0-beta and experienced some issues:

- It was impossible to change the printer format. It remained in the landscape printout.
- Once created “Printer Profiles” could not be deleted.
- When trying to select a printer, all were selected.

[2021-05-10 12:13] mgobat commented on #27
Hmmmm....those are some serious issues.  Could you possibly email me your alma-print-config.json file?  mark.gobat@exlibrisgroup.com

Also, could you rename the file and try setting the configuration again?  Thanks.

[2021-05-24 21:15] markcorry opened #29 "Print Dameon silent installer"
We would like to automate the installation of this Alma Print Daemon. I found that I can use the command, "alma-print-daemon.Setup.1.3.0.exe /allusers" to skip the all users question but I would like to skip the Finish screen as well. And maybe hide everything? Is this possible?

[2021-05-28 13:32] moskovskayax3 opened #30 "AutoUpdate Error"
We have received feedback from our users that a "A new update is available. Downloading now" appears in the Alma Print Daemon and no longer disappears.

![grafik](https://user-images.githubusercontent.com/60343703/119989907-0436d980-bfc8-11eb-8d56-1a887436116f.png)

I have looked at the error and found several 404 errors. These occur when trying to download.
I assume it has typos in it.

Logfile d

[2021-05-28 14:12] mgobat commented on #30
Interesting....this is the first I've heard of this, but did just replicate the problem. I installed 1.3, and sure enough, it is trying to download a new version. I didn't think it would find a new version, with version 2.0 being flagged as pre-release. Thanks for reporting this. Looking into it now.

[2021-05-28 14:50] moskovskayax3 commented on #30
@mgobat I myself do not use the software directly. I am the IT supporter/responsible person and only manage the deployment of the software.

I have briefly checked some devices. Many are currently on version 1.2 and all devices want to download beta version 2.0. We deployed company wide version 1.1 earlier this year. (Standard installation, just give a customized alma-print-config.json with it).

[2021-05-28 17:59] mgobat commented on #30
New release, 1.3.1, should fix this problem. Anyone not running the 2.0 beta version should get 1.3.1 the next time they start the Alma Print Daemon.

[2021-05-28 17:59] #30 closed

[2021-05-31 22:23] jdonaghe commented on #23
We are also having duplicate slips printing from one of our circ desks. The issue began on 28th of May and is still continuing.

We are using v1.3 and have our interval set to 0.25.

[2021-05-31 22:30] jdonaghe opened #31 "Timeout error"
We are seeing a recurring error in the logs since the 13th of May. Here's an extract:

`Error on 2021-05-31T05:02:09.944Z':  An error occurred communicating with Alma:  {"errno":"ETIMEDOUT","code":"ETIMEDOUT","syscall":"connect","address":"117.20.42.137","port":443}
Error on 2021-05-31T05:03:01.762Z':  An error occurred communicating with Alma:  {"errno":"ETIMEDOUT","code":"ETIMEDOUT","syscall":"c

[2021-06-01 13:16] mgobat commented on #31
@jdonaghe, does the Alma Print Daemon eventually start working again, or do you have to stop the Alma Print Daemon and restart it to get rid of the timeout error? Thanks.

[2021-06-01 15:45] prbutler opened #32 "Feature requests"
After updating 6 installs of the daemon in our environment, I have 2 feature requests.

1. Display the version/build number of the daemon in the interface.
2. If found it whether the update would be prompted/trigger inconsistent.

[2021-06-02 04:47] jdonaghe commented on #31
It eventually starts to work again. Thanks

[2021-06-02 13:34] mgobat commented on #31
@jdonaghe, then I think its working as expected. If it ever doesn't start working again after the timeout error, then we probably have an issue. Thanks!

[2021-06-02 13:34] #31 closed

[2021-06-02 13:39] mgobat commented on #23
@jdonaghe and @prbutler, any chance you could try the version 2.0 beta on one workstation exhibiting this problem? We modified the code considerably and hope that the duplicates problem is solved in 2.0.

https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/untagged-f928860a5c769165bbdf

[2021-06-02 13:45] mgobat commented on #32
@prbutler, are you requesting that the auto update shouldn't happen automatically, but rather at the request of the user? Or that the user interface for the auto update should just be improved?  Thanks!

[2021-06-02 14:17] prbutler commented on #32
I would suggest the UI have a button to check for and trigger an update. On 2 of the 6 machines in our environment the auto-updater never triggered and I had to go to the C:\Users\username\AppData\Local\Alma folder to manually trigger the update. For end-users having to wait for the update (when there is no clear way for them to determine if it has been applied) or invoke it from a hidden folder i

[2021-06-02 20:15] mgobat commented on #11
Planned for next 2.0 beta release.

[2021-06-22 19:20] gnosisgithub opened #34 "Printers do not load"
Following this video:
https://www.youtube.com/watch?v=hnIvUCIFxCg
with 1.3.1 and I assume my API key is correct based upon:
https://developers.exlibrisgroup.com/blog/how-to-set-up-and-use-the-alma-print-daemon/

I launch the Daemon and the configuration window opens. I enter the API key and click <Test API Key? and nothing happens but more significantly after I enter the API key and test printouts

[2021-06-22 19:46] mgobat commented on #34
@gnosisgithub, please check the log file for errors. If anything, please update the issue with the details.

The log file is located in the username/AppData/Roaming/alma-print-daemon directory, file name log.alma-print-daemon.TIMESTAMP.

Thank you.

[2021-06-22 19:56] gnosisgithub commented on #34
C:\Users\jsmith\AppData\Roaming\alma-print-daemon\logs\main.log:

[2021-06-22 06:32:44.517] [info] Checking for update
[2021-06-22 06:32:44.629] [info] Generated new staging user ID: 88175416-be78-5288-9aab-5a9ba1be398e
[2021-06-22 06:32:46.168] [info] Update for version 1.3.1 is not available (latest version: 1.3.1, downgrade is disallowed).
[2021-06-22 06:32:46.170] [debug] checkForUpdatesAndNot

[2021-06-22 20:01] mgobat commented on #34
Not the correct log. That's the application autoupdate log. The log of interest is in the Username/AppData/Roaming/alma-print-daemon directory (not log directory) with a name starting with "log.alma-print-daemon", followed by a timestamp. We can start with the most recent one based on the timestamp. Thanks.

[2021-06-22 20:05] gnosisgithub commented on #34
C:\Users\jsmith\AppData\Roaming\alma-print-daemon>dir /s log.alma-print-daemon*
 Volume in drive C has no label.
 Volume Serial Number is B46E-ACA4
File Not Found

[2021-06-22 20:08] mgobat commented on #34
@gnosisgithub, well that's unfortunate. Let me look at the code to see why it might not be creating the log file.

[2021-06-22 20:14] mgobat commented on #34
@gnosisgithub, could you email me your alma-print-config.json file, if it exists? It would be in your Username/AppData/Roaming/alma-print-daemon directory. And if it doesn't exist, that may be a clue for me.

mark,gobat@exlibrisgroup.com

[2021-07-26 03:19] jdonaghe commented on #23
We updated to v2.0 and have not had any reports of duplicate slips printing.

[2021-07-27 19:23] mgobat commented on #23
Customers haven't had this problem with the 2.0 alpha version.

https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.0.0-beta-02

[2021-07-27 19:23] #23 closed

[2021-07-27 19:25] mgobat commented on #11
This should be fixed in the 2.0 beta.

https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.0.0-beta-02

[2021-07-27 19:25] #11 closed

[2021-07-29 13:45] DanielaDoerr commented on #27
With the new release 2.0.0-beta-02 the software does its job flawlessly. Everything ist working fine. Thanks for the quick fix.

[2021-07-29 13:49] mgobat commented on #27
Thanks for testing, @DanielaDoerr.

[2021-07-29 13:49] #27 closed

[2021-08-10 08:24] sabweb opened #35 "Alma Print Daemon with more than 100 printers"
We noticed a problem recently where we can't make any changes to our Print Daemon 1.3.1 configuration anymore. The API key is reported as "valid", but the buttons "Add Printer Profile" and "Remove Printer Profile" stay disabled.
There is no log file generated because we can't even complete this configuration step.

So my guess is that setRemovePrinterProfileButtonState() and setAddPrinterProfileBu

[2021-08-10 12:31] mgobat commented on #35
Sounds like a defect.

[2021-09-02 19:56] markcorry commented on #19
We are seeing this error now, too!
![PXL_20210902_190611786](https://user-images.githubusercontent.com/48454316/131907909-66fa07e3-a51a-4eae-92b5-ddb2008bef4b.jpg)

[2021-09-02 19:59] mgobat commented on #19
@markcorry, with which version of the Alma Print Daemon? If pre-2.0, please try the 2.0 beta. Thanks.

[2021-11-24 05:00] jdonaghe commented on #11
Does the message !!!!!!!!!Duplicate instance!!!!!!!!! mean there are multiple instances running at the same time? Does the service stop checking for printouts when this happens?

[2021-11-30 21:54] mgobat commented on #11
Yes, if this message appears, another copy of the daemon is already running. The second copy should terminate, but the originally running copy should continue checking for printouts.

[2021-12-14 10:23] rsirres opened #38 "EPIPE Error"
**Context**: We are migrating from Aleph to Alma and need to setup printers.

When the print daemon (2.0.0-beta2 on windows 10 enterprise) is about to print I receive the following error message in the command line:
[code]

Have you already faced this issue ?

[2022-01-12 13:10] rsirres commented on #38
After updating Windows 10 to the latest versions The error did not occur again.

[2022-01-12 13:10] #38 closed

[2022-01-13 19:52] mgobat commented on #5
Has anyone been running the 2.0 beta as a service?  Any feedback?

[2022-01-15 10:03] betullam commented on #5
@mgobat: Yes we are running it as a service and as far as I know it works without any bigger problems. But to be able to give you a correct answer I should ask the person in our IT department who installed it on our printer server. I will get back to you as soon as I have an answer.

[2022-01-18 12:52] mgobat commented on #5
@betullam, thank you for your response. We look forward to any additional feedback from your IT department.

[2022-01-19 15:10] Lophophanes opened #39 "About the print format ?"
Hello,
Our objective : in an ecological concern and also as a measure of financial savings, we would like to reduce the size of the prints to use less paper.

Our new feature request : in the future, is it planned to be able to print in A5 format ?

Best regards,

[2022-01-24 15:56] Jimadine opened #40 "Documentation request: building an alma-print-daemon.Setup.x.x.x.exe"
I've forked the alma-print-daemon repo so that I can make some changes for our local needs. One thing I'm unsure about is how to build a package for my target platform (Windows x64). Should I use [https://github.com/electron/electron-packager](https://github.com/electron/electron-packager)? Anything particular to alma-print-daemon that I should be aware of before attempting this?

[2022-01-24 18:49] mgobat commented on #40
Ex Libris uses [electron-builder](https://www.electron.build/) to build the Alma Print Daemon packages. Nothing special is done beyond signing the application to prevent application security issues during installation.

[2022-01-25 09:55] #40 closed

[2022-01-25 15:01] betullam commented on #5
@mgobat The person from our IT department told me that it is running without problems as a Task, but that it fails when he tries to run it as a Service. I hope this helps!

[2022-01-25 16:21] mgobat commented on #5
@betullam, could you please ask your IT person to send me some details on the task vs service experience? I'm at mark.gobat@exlibrisgroup.com.  Thank you.

[2022-01-30 13:34] kremke opened #41 "Configuration options missing"
Hi,

I wonder if this is the same issue ad described in the now closed issue #34.  At first I installed the latest pre-release but when I try to configure the daemon I don't get the same options as shown in the blog or in Yoel Kortick's video.  I have checked and re-checked that the api key I created is for the required permissions and the print daemon says my key is valid.  I have also tried the

[2022-01-31 15:46] mgobat commented on #41
@kremke, is at least one of your printers in Alma defined to be a "Printout Queue"? Only printers with this flag turned on are eligible for configuration in the Alma Print Daemon.

[2022-01-31 15:58] kremke commented on #41
Hi Mark,

It is my understanding that all the printers in the IZ should be print queues.  A print slip shows up in Alma as being in a print queue:
![image](https://user-images.githubusercontent.com/76584888/151826262-526fb06d-3613-48bd-a748-2fdad083ab85.png)

Since I haven't passed the sysadmin test yet, I don't have access to the printer configuration so I can't double check that all printers are

[2022-01-31 16:31] kremke commented on #41
Hi again Mark,

I used the api to get info on the printers, at least the first 10 printers had <printout_queue>true</printout_queue>

Regards,

Helgi

[2022-01-31 17:01] mgobat commented on #41
@kremke, that was smart! Thank you. Officially a bug of some sort.  :)

[2022-01-31 19:10] mgobat commented on #41
@kremke, could you share your API key with me off Github?  email: mark.gobat@exlibrisgroup.com.  Thanks.

[2022-02-02 19:48] mgobat commented on #41
Believe fixed in version 2.0.0-beta-03.

[2022-02-02 19:49] mgobat commented on #39
Format and border options added in release 2.0.0-beta-03.

[2022-02-03 11:37] Jimadine commented on #39
@mgobat This is great. Thank you! I have managed to print something that looks okay-ish on our Epson thermal POS printer using `letterFormat":"A5","borderUnits":"mm","borderTop":"4","borderRight":"6","borderBottom":"4","borderLeft":"6"` config. The printout font size is a touch on the small size though. I tried A6 and this was the right size font, but a massive gap is present in the middle of the

[2022-02-03 14:25] kremke opened #42 "Feature suggestion: Have the daemon only query the api during working hours"
Hi,

When setting up the daemon it occured to me that it might be a good idea to define a time period when there is no need for the daemon to query the api for new print jobs.  For the libraries I am configuring there is no need to check for new jobs every minute during the night and by pausing the api queries there would be more system resources on the Alma server to run other tasks.

Regards,

H

[2022-02-08 13:41] #41 closed

[2022-02-23 13:01] dregad opened #43 "Allow update of printer profiles"
Currently (2.0.0-beta-03) the configuration dialog does not allow the user to edit existing printer profiles. To make a change, the only way is to delete the profile, then add it back.

This was not much of a problem before, but with the additional settings (paper format, margins, etc) that sometimes require some tweaking, it's becoming more of a hassle.

[2022-02-23 14:37] dregad opened #44 "Server installation running as a service with a single configuration profile"
This is a follow-up on #13.

I'm testing the deployment of Alma Print Daemon (2.0.0-beta-03) on a server, running as a service. Our goal is to
- get rid of local, user-specific installations and configurations,
- centralize all the print queues configuration, having them monitored and processed at all times without the need for the software to be running on individual user's workstations.

Of cour

[2022-02-24 10:07] daniels commented on #19
We just implemented Alma Print Daemon and got this error. However my IT department was reluctant to install a beta version, so we settled on 1.3.1, the latest stable release. Are bugs only fixed on the beta? If so, what makes a release stable? Is there a plan for a new stable release?

[2022-02-24 13:10] mgobat commented on #19
@daniels, version 1.3.1 is no longer receiving updates. 2.0 added the ability the install the Alma Print Daemon as a Windows service, Any new features and bug fixes will happen in 2.0. Its been in use for quite a while by some Alma customers. We were hoping for additional feedback on the Windows Service feature before it comes out of beta.

[2022-04-01 11:39] kremke commented on #39
Hi,

Most of our libraries also use 80 mm thermal rolls so @Jimadine request would be very helpful for us at well.  Perhaps it would also be useful to have the option of bypassing any paper size formatting in the daemon and use the printer default settings.

Regards,

Helgi

[2022-04-01 15:13] Jimadine commented on #39
@kremke I ended up creating [my own solution for this](https://github.com/university-of-york/fmsys-alma-printing-api). It's not perfect but we're now using it in three settings where there is a workflow involved and it's working well. All of my initial work on this was testing with an Epson TM-T88III USB printer. The only change needed to the printer's Printing Preferences was to scale the printou

[2022-04-13 18:38] niemalsnever commented on #42
Hello,

I support this enhancement request, bonus points for making it possible to use the opening/working hours defined in Alma.

Best Regards,
Sven Pagel

[2022-05-10 15:57] prbutler opened #53 "Decreased font size with Alma Print Daemon 2.0.0"
After updating the Alma Print Daemon from v1.3.1 to v2.0.0 the font size for our printed slips is tiny, nearly impossible to read. We are using an EPSON TM-T88IV thermal receipt printer with Windows 10. I've tested with various paper formats, and while none of them seem to fix the issue, the A5 format does slightly increase the font size. The border settings seem to work okay when tested. When pri

[2022-05-11 07:33] Aavalaakso commented on #53
We have the same problem. We are using Star branded Laber Printers and now it gives us 1-2 meter long recipes. Please remove that forced paper size selection. It worked before this update.

[2022-05-11 16:11] janeicec commented on #53
The v2.0.0 update automatically being applied is also causing us problems. We also use Epson TM-T88V thermal receipt printers and are running into the tiny font problem. In my experience these thermal printers are fairly commonly used (at least in the US), especially at circ desks, and use a paper size (80mm width) that needs to be included in Print Daemon's configurations. In our case, we are onl

[2022-05-11 16:23] mgobat commented on #53
If you re-install 1.3.1, you should no longer be forced to upgrade to 2.0.0.

[2022-05-11 16:26] janeicec commented on #53
Thank you!

[2022-05-12 07:23] Aavalaakso commented on #53
Thanks this did the trick I installed 1.3.1. over the 2.0.0. It is not force updating anymore.

[2022-05-12 14:58] prbutler commented on #53
I can confirm re-installing 1.3.1 resolved the issue for now. Like others, I would love to see v2.1.0 accommodate thermal paper form factor since it is pretty common. Thank you!

[2022-05-12 19:11] mgobat commented on #53
@prbutler, @janeicec...you both mention 80mm as the width...what is the height of the labels? Thanks.

[2022-05-12 19:23] janeicec commented on #53
Our printer preferences have it as 80mm x 297mm

[2022-05-13 04:49] Aavalaakso commented on #53
80mm but height depends of the print..

[2022-05-13 12:04] prbutler commented on #53
Like @janeicec, our printer preference is also set to 80mm x 297mm, but as @Aavalaakso suggests the height is variable based on the print job. Thanks @mgobat!

[2022-05-13 16:10] mgobat commented on #53
Release 2.1.0-beta1 adds the ability to define a custom format. Please see https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.1.0-beta1. Pre-release, please test before rolling out to everyone. Impossible for us to test on all the different label-specific printers out there. Please report any issues as new issues in GitHub.

[2022-05-13 16:10] #53 closed

[2022-05-16 06:48] Aavalaakso commented on #53
1.3.1 force updated back to the 2.0.0 again. i re-installed 1.3.1 back.

[2022-05-16 06:51] Aavalaakso commented on #53
The problem is that we don't know the height of the print. Thermal printers prints all what is needed and then automatically cuts the paper. We can't insert fixed Height like a3, a4 and a5 are fixed sizes. Thermal printers are scroll of paper and printer cuts after all printed.

If this is not possible then please make 1.3.1 version that it wont force update to the latest version.

[2022-05-16 12:31] prbutler commented on #53
@Aavalaakso as for the 2.1.0-beta1 update, so for in my testing setting the Page Width to 80 and the Page Height to 297 seems to work for checkout, transit, and hold slips for us. Setting the height 297 does not impact slips lengths and automatic paper cutting.

No reports yet of 1.3.1 prompting for an update.

[2022-05-16 12:33] mgobat commented on #53
1.31. should not be updating, as version 2.0.0 is now flagged as "Pre-release", and the latest 2.1.0-beta1 is "Pre-release", too.

[2022-05-18 06:41] Aavalaakso commented on #53
Hi. I installed 2.1.0 beta1 and set custom 80x297. Today I received information from library that it printed normally. I will keep my eye on this how it works.

[2022-05-19 06:51] Aavalaakso commented on #53
Hi. Well this morning they told that it printed long white paper but text was normal size. I totally removed 2.x version off and installed 1.3.1. They said it works normally when using 1.3.1. Printer cuts the paper after everything is printed. It would take a lot of time trying the find fixed paper length that works and then it wont work if there are more things to print than paper size is.

Is it

[2022-05-19 08:49] daniels opened #54 "Release 2.0.0 is marked as Pre-release"
The beta-suffix is missing from release [Alma Print Daemon 2.0.0](https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.0.0) seemingly indicating that this is a stable release, but the release is still marked as Pre-release. Version 1.3.1 is still listed as "Latest".

[2022-05-19 12:27] mgobat commented on #54
While 2.0.0 is labeled as "Pre-release", it is really the most recent standard release. It was in beta for a year. Its main new feature is to be able to run as a Windows service. It is only flagged as "Pre-release" to not force the upgrade from 1.3.1.

[2022-05-19 13:03] mgobat commented on #53
@Aavalaakso, thanks for that additional feedback. Let me do some experimenting with not setting a page size. I'm going to create a new issue for this, though.

[2022-05-19 13:09] mgobat opened #55 "Allow not specifying a page size for printers which cut paper after printing"
Users with printers which cut the paper after printing would like an option to not specify a page size and rather rely on the printer to "do that work". Ex Libris will investigate this possibility.

[2022-05-19 17:47] Aavalaakso commented on #55
This already works in version 1.3.1. So why it could be hard with later versions?

[2022-05-19 17:52] mgobat commented on #55
@Aavalaakso, in order to support running the application as a Windows service, which was the major enhancement in 2.0, we had to completely change the way printing works. Pre-2.0, we used a browser window to print the Alma documents. Since Windows services can't have a UI, we had to change that; 2.0 renders the Alma letter as a PDF then prints the PDF. The PDF generator wants a document format (A3

[2022-05-19 17:59] Aavalaakso commented on #55
Thanks for technical side. I understand the problem now.

[2022-05-26 19:57] mgobat commented on #35
Available in 2.1.0-beta2 release, https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.1.0-beta2. Pre-release, use in test before rolling out to everyone.

[2022-05-26 20:00] mgobat commented on #55
Rather than adding support for unknown printout dimensions (which isn't really possible with the PDF generator), if you are not running the Alma Print Daemon as a Windows service, the old method of printing  via the Window is used. Please see https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.1.0-beta2 for details.

[2022-05-26 20:03] mgobat commented on #53
Please see https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.1.0-beta2. We've restored the old method of printing from version 1.3.1 if not running this new version as a Windows service. If anyone is adventurous enough to try it out (on a single workstation), we'd appreciate any feedback. Thanks.

[2022-06-08 10:19] Raphael-Rey commented on #35
I tested it this new release, but I'm not sure that it change the lenght of the list. We cannot select all existing profile. Some are still missing in the list.

[2022-06-10 16:13] mgobat commented on #35
@Raphael-Rey, thanks for checking the code...good to have someone else review it. I'll see what I can figure out.

[2022-06-19 06:00] Sozialarchiv opened #57 "Is it possible to disable auto update"
Is it possible to disable auto update to user app directory?

We installed the daemon to program files, but after a while most of the user had it in their profile app folders.

This is annoying if you are using a central software distribution system.

[2022-06-19 08:28] Sozialarchiv commented on #9
A debug log would be really great.

We have often problems, where it is hard to say where they were caused (daemon, server, local printer, ...).

[2022-07-05 16:05] mgobat commented on #35
@Raphael-Rey, would it be possible for me to dig into this bug while connected to your Alma instance using your API key? If so, please email me directly; please do not post your API key here. I will only be testing the code that retrieves your Alma printers; it will not process any documents waiting to print. Thanks.

mark.gobat@clarivate.com

[2022-07-08 20:02] Raphael-Rey commented on #35
Dear Mark,

I tested the new version and it is now alright. We can retrieve the printers in any case.

Thank you very much for the fix.

Best regards,

Raphaël

[2022-07-08 20:04] exlcodeshare commented on #35
Raphaël, thank you for your help!

-mark

From: Raphael-Rey ***@***.***>
Sent: Friday, July 8, 2022 3:03 PM
To: ExLibrisGroup/alma-print-daemon ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [ExLibrisGroup/alma-print-daemon] Alma Print Daemon with more than 100 printers (#35)

CAUTION: EXTERNAL Email.

Dear Mark,

I tested the new version and it is now alright. We can retrieve the printers

[2022-07-08 20:06] mgobat commented on #35
Confirmed fixed in v2.1.0-beta3.

[2022-07-08 20:06] #35 closed

[2022-07-11 05:34] Sozialarchiv opened #58 "Release date 2.x"
The version number 2.x contains interesting features but was never officially released. Even the first beta was released more then a year ago.

When will 2.x be officially released?

By the way, the status of 2.1 is very unclear. There is already a beta for 2.2 but 2.1 is marked as a prerelease.

[2022-07-13 12:12] #58 closed

[2022-08-23 19:13] JoeyEmbers opened #59 "Running AlmaPrint Daemon as a service with version 2.0.0-beta-02"
I want to make sure I'm not missing something. Once nssm is installed and the daemon is running as a service there is no need to launch the GUI for the daemon unless you making configuration changes? I'm confused because when I do open the GUI is show the printing as being paused.  Please advise.

Many Thank,
-Joey

[2022-09-07 09:28] dregad opened #60 "2.1.0 beta Releases / tags are listed out of order"
Releases are currently listed in the following order
![image](https://user-images.githubusercontent.com/449891/188836174-8a17e606-ed60-4ea5-be56-410f92d30af5.png)

At first I thought this is not a huge deal, just somewhat confusing - as I downloaded the "latest" pre-release (beta.2) only to find out afterwards that there was a beta.3 available.

Then I checked in more detail, and found out that v2

[2022-09-07 09:33] dregad opened #61 "Latest Release should be 2.0.0"
While looking at Releases as I reported #60, I also realized that **2.0.0 is marked as *pre-release***, so https://github.com/ExLibrisGroup/alma-print-daemon/releases/latest still points to 1.3.1

I guess this is not intentional, the _This is a pre-release_ checkbox should be un-ticked

[2022-09-07 10:22] dregad commented on #44
The problem is still present in 2.1.0-beta2.

@mgobat I see you qualified this as an enhancement, but from my perspective, this is actually an **important bug**, because when the daemon is running as a service, it is very important for the currently logged-in user not only to know what the effective configuration used by the service is, but also to be able to update it as necessary, including prin

[2022-09-07 10:27] dregad commented on #43
I tested the edit functionality this morning on 2.1.0-beta2 release and it seems to work as expected.

That being said, considering #44 I'm not sure what is actually happening to the profiles when edited by multiple users. I'll perform some additional tests in coordination with a colleague later and get back to you.

[2022-09-07 10:50] dregad commented on #59
Thanks for this explanation @mgobat. I'm planning to test this later this week.

In the meanwhile, can you please clarify, what settings the service is using for the _interval in minutes_ since the configuration appears to be user-specific (see #44).

[2022-09-07 12:53] dregad commented on #44
OK, so I do confirm the problem, here's some additional information.

* Alma print daemon version 2.1.0-beta2
* installed on a Windows Server 2019 Datacenter (version 1809, build 17763.3287)
* NSSM installed per [documentation](https://github.com/ExLibrisGroup/alma-print-daemon/releases/tag/v2.0.0-beta-02), except that the service is running under _Local System_ user
* Configuration and printer pr

[2022-09-07 13:37] JoeyEmbers commented on #59
![alma config](https://user-images.githubusercontent.com/111601142/188892247-d49fd7a2-3da6-48a2-a023-94de5de81886.PNG)

[2022-09-14 19:45] mgobat commented on #61
2.0.0 was re-labeled as a pre-release so it isn't forced on users who preferred the way 1.3.1 printing worked (version 1.3.1 will autoupdate to the latest release).

[2022-09-14 19:45] #61 closed

[2022-09-14 19:50] mgobat commented on #60
@dregad, yes, I created the 2.1.0-beta3 release pointing to the wrong commit. You are much more experienced with GitHub than I. Once we move 2.1.0 out of beta, I'll clean up the releases.

[2022-09-14 19:50] #60 closed

[2022-09-14 20:11] mgobat commented on #43
@dregad, thank you for testing this enhancement. Each user should have their own alma-print-config.json file in C:\Users\<username>\AppData\Roaming\alma-print-daemon.

[2022-09-14 20:33] mgobat commented on #59
@dregad, when running as a service, the alma-print-config.json in play should be the one owned by the logged in user....but you are using "Local System account" instead of a logged in user. Let me look into that for you.

[2022-09-15 14:55] mgobat commented on #59
@dregad, when running as the local system account, the alma-print-config.json should be in the C:\Windows\System32\config\systemprofile\AppData\Roaming\alma-print-daemon folder. This is also where the log will be written.

[2022-09-15 15:02] JoeyEmbers commented on #59
I'm not seeing the .json file anywhere.

***@***.***

Joey Embers
System & Network Administrator
Linda Hall Library
816-926-8748
***@***.***

From: mgobat ***@***.***>
Sent: Thursday, September 15, 2022 9:56 AM
To: ExLibrisGroup/alma-print-daemon ***@***.***>
Cc: Joey Embers ***@***.***>; Mention ***@***.***>
Subject: Re: [ExLibrisGroup/alma-print-daemon] Running AlmaPrint Daemon as a service with

[2022-09-15 15:22] mgobat commented on #59
@JoeyEmbers, what are the circumstances of your installation? Installed for all users, single user? Did you perform the configuration as a logged-in user? Is there a directory like C:\Users\<logged-in-user>\AppData\Roaming\alma-print-daemon for the logged in user? The screenshot you provided earlier this week implies the file exists, if you had clicked the "Save and Continue Printing" button, of c

[2022-10-31 17:07] JoeyEmbers commented on #59
Sorry for the delay response I haven't been able to focus on this issue. I think I'm going to run through a fresh install. I just want to clarify the installation process. I need to log in as the user which will be running the Print Daemon service? I don't recall see the "Install for all users, single user" I'm assuming I want to choose all. I apricate the help and will report back.

[2022-10-31 19:10] mgobat commented on #59
@JoeyEmbers, installing for "all users" will have a single configuration file used by anyone logging into the workstation. If you install for a "single user", each user can have their own configuration file.

When running as a service, you need to specify the user who should be logged in to run the service.